
<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Emrullah</h1>
		<p>I am working through week 2 of McKenzie Child's 12 in 12 Ruby on Rails challenge!</p>

	</div>
</div>